<div class="card__pl">

  <h3 class="card__pl__title">Patrimônio Líquido</h3>

  <div class="card__pl__body">

    <div style="display: block; height:10rem; width:10rem">
      <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType" [options]="chartOptions">
      </canvas>
    </div>

    <span class="card__pl__body--total">Total</span>
    <span class="card__pl__body--value">{{ plTotal ? 'R$ ' + (plTotal | number) : '----,--' }}</span>

    <div class="card__pl__body--labels">
      <div class="card__pl__body--labels--brasil">
        <div>Brasil</div>
        <div>{{ plBrasil ? 'R$ ' + (plBrasil | number) : '----,--' }}</div>
      </div>
      <div class="card__pl__body--labels--exterior">
        <div>Exterior</div>
        <div>{{ plExterior ? 'R$ ' + (plExterior | number) : '----,--' }}</div>
      </div>
    </div>
  </div>

</div>
