<div class="card">
  <div class="card--size-2">
    <app-rentabilidade-card></app-rentabilidade-card>
  </div>

  <div>
    <app-movimentacoes-card></app-movimentacoes-card>
  </div>

  <div class="card--size">
    <app-dados-cadastrais-card></app-dados-cadastrais-card>
  </div>

  <div class="card--size">
    <app-patrimonio-liquido-card></app-patrimonio-liquido-card>
  </div>

  <div class="card--size-1">
    <app-hedge-cambial-card></app-hedge-cambial-card>
  </div>

  <div class="card--size-3">
    <app-carteira-brasil-card></app-carteira-brasil-card>
  </div>

  <div class="card--size-3">
    <app-carteira-exterior-card></app-carteira-exterior-card>
  </div>
</div>
