<div class="card">
  <div class="card--1">
    <div class="card__title">
      <h3 class="card__title--text">Rentabilidade</h3>
      <mat-icon class="card__title--icon">show_chart</mat-icon>
    </div>
    <div class="card--1--table">
      <div>&nbsp;</div>
      <div>Dia</div>
      <div>Mês</div>
      <div>Ano</div>
      <div>Fundo:</div>
      <div class="data">
        <mat-icon class="icon--down">arrow_downward</mat-icon> -0,18%
      </div>
      <div class="data">
        <mat-icon class="icon--up">arrow_upward</mat-icon>1,54%
      </div>
      <div class="data">
        <mat-icon class="icon--down">arrow_downward</mat-icon>-1,25%
      </div>
      <div>Benchmark:</div>
      <div class="data">
        <mat-icon class="icon--up">arrow_upward</mat-icon>1,39%
      </div>
      <div class="data">
        <mat-icon class="icon--up">arrow_upward</mat-icon>-0,07%
      </div>
      <div class="data">
        <mat-icon class="icon--down">arrow_downward</mat-icon>-2,01%
      </div>
    </div>
  </div>
  <div class="card--2">
    <div class="card__title">
      <h3 class="card__title--text">Movimentações</h3>
      <mat-icon class="card__title--icon">compare_arrows</mat-icon>
    </div>
    <div class="card--2--table">
      <div>Aplicação:</div>
      <div class="data">D+0 / D+1</div>
      <div>Resgate:</div>
      <div class="data">D+5 / D+1</div>
    </div>
  </div>
  <div class="card--3" id="bg--blue">
    <h3 class="card__title">Dados Cadastrais</h3>

    <div class="card--3--table">
      <div>Benchmark:</div>
      <div class="data">110% CDI</div>
      <div>Cód. Drive:</div>
      <div class="data">4919</div>
      <div>Cód. GFI:</div>
      <div class="data">1136</div>
      <div>Conta Corrente:</div>
      <div class="data">607,004</div>
      <div>Conta BB SEC:</div>
      <div class="data">ATB 006068</div>
      <div>Conta SELIC:</div>
      <div class="data">(Não possui)</div>
      <div>Conta CETIP:</div>
      <div class="data">(Não possui)</div>
      <div>Conta Allfunds:</div>
      <div class="data">123456</div>
    </div>
  </div>
  <div class="card--4">
    <h3 class="card__title">Patrimônio Líquido</h3>
    <div class="card--4--body">
      <div style="display: block; height:10rem; width:10rem">
        <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType" [options]="chartOptions">
        </canvas>
      </div>
      <span class="card--4--body--total">Total</span>
      <span class="card--4--body--value">R$ 569.635.675,57</span>
      <div class="card--4--body--labels">
        <div class="card--4--body--labels--brasil">
          <div>Brasil</div>
          <div>R$ 409.846.979</div>
        </div>
        <div class="card--4--body--labels--exterior">
          <div>Exterior</div>
          <div>R$ 159.788.798</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card--5">
    <h3 class="card__title">Hedge cambial (porcentagem)</h3>
    <div class="card--5--body">
      <div class="card--5--body--data">
        <div>
          <div>Meta: _</div>
          <div>Atual: _</div>
          <div>Limite: _</div>
        </div>
        <div>gráfico</div>
      </div>
      <div class="card--5--body--send">
        <div>Necessidade:</div>
        <div>__</div>
        <button mat-button class="btn__send">
          Enviar ordens
          <mat-icon color="primary" class="btn__send--icon">arrow_forward</mat-icon>
        </button>
      </div>
    </div>

  </div>
  <div class="card--6">
    <div class="card__title">
      <h3 class="card__title--text">Carteira Brasil</h3>
      <button mat-button class="btn__send">
        Enviar ordens
        <mat-icon color="primary" class="btn__send--icon">arrow_forward</mat-icon>
      </button>
    </div>
  </div>
  <div class="card--7">
    <div class="card__title">
      <h3 class="card__title--text">Carteira Exterior</h3>
      <button mat-button class="btn__send">
        Enviar ordens
        <mat-icon color="primary" class="btn__send--icon">arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
