<div class="card">
  <div class="card--1">
    <div class="card__title">
      <h3 class="card__title--text">Rentabilidade</h3>
      <mat-icon class="card__title--icon">show_chart</mat-icon>
    </div>
    <div class="card--1--table">
      <div>&nbsp;</div>
      <div>Dia</div>
      <div>Mês</div>
      <div>Ano</div>
      <div>Fundo:</div>
      <div class="data">-0,18%</div>
      <div class="data">-1,25%</div>
      <div class="data">-1,25%</div>
      <div>Benchmark:</div>
      <div class="data">1,39%</div>
      <div class="data">-0,07%</div>
      <div class="data">-2,01%</div>
    </div>
  </div>
  <div class="card--2">
    <div class="card__title">
      <h3 class="card__title--text">Movimentações</h3>
      <mat-icon class="card__title--icon">compare_arrows</mat-icon>
    </div>
    <div class="card--2--table">
      <div>Aplicação:</div>
      <div class="data">D+0 / D+1</div>
      <div>Resgate:</div>
      <div class="data">D+5 / D+1</div>
    </div>
  </div>
  <div class="card--3" id="bg--blue">
    <h3 class="card__title">Dados Cadastrais</h3>

    <div class="card--3--table">
      <div>Benchmark:</div>
      <div class="data">110% CDI</div>
      <div>Cód. Drive:</div>
      <div class="data">4919</div>
      <div>Cód. GFI:</div>
      <div class="data">1136</div>
      <div>Conta Corrente:</div>
      <div class="data">607,004</div>
      <div>Conta BB SEC:</div>
      <div class="data">ATB 006068</div>
      <div>Conta SELIC:</div>
      <div class="data">(Não possui)</div>
      <div>Conta CETIP:</div>
      <div class="data">(Não possui)</div>
      <div>Conta Allfunds:</div>
      <div class="data">123456</div>
    </div>
  </div>
  <div class="card--4">
    <h3 class="card__title">Patrimônio Líquido</h3>
  </div>
  <div class="card--5">
    <h3 class="card__title">Hedge cambial (porcentagem)</h3>
  </div>
  <div class="card--6">
    <div class="card__title">
      <h3 class="card__title--text">Carteira Brasil</h3>
      <button class="btn__send">
        Enviar ordens
        <mat-icon color="primary">arrow_foward</mat-icon>
      </button>
    </div>
  </div>
  <div class="card--7">
    <div class="card__title">
      <h3 class="card__title--text">Carteira Exterior</h3>
      <button class="btn__send">
        Enviar ordens
        <mat-icon color="primary">arrow_foward</mat-icon>
      </button>
    </div>
  </div>
</div>
