<div class="card__dados">
  <h3 class="card__dados__title">Dados Cadastrais</h3>

  <div class="card__dados__table">
    <div>Benchmark:</div>
    <div class="data">{{ dados.benchmark ? (dados.benchmark + '% CDI') : '(Não possui)' }}</div>
    <div>Cód. Drive:</div>
    <div class="data">{{ dados.codDrive ? dados.codDrive : '(Não possui)' }}</div>
    <div>Cód. GFI:</div>
    <div class="data">{{ dados.codGfi ? dados.codGfi : '(Não possui)' }}</div>
    <div>Conta Corrente:</div>
    <div class="data">{{ dados.contaCorrente ?( dados.contaCorrente | number) : '(Não possui)' }}</div>
    <div>Conta BB SEC:</div>
    <div class="data">{{ dados.contaBbSec ? ('ATB ' + dados.contaBbSec) : '(Não possui)' }}</div>
    <div>Conta SELIC:</div>
    <div class="data">{{ dados.contaSelic ? dados.contaSelic : '(Não possui)' }}</div>
    <div>Conta CETIP:</div>
    <div class="data">{{ dados.contaCetip ? dados.contaCetip : '(Não possui)' }}</div>
    <div>Conta Allfunds:</div>
    <div class="data">{{ dados.contaAllFunds ? dados.contaAllFunds : '(Não possui)' }}</div>
  </div>
</div>
