<div class="card__dados">
  <h3 class="card__dados__title">Dados Cadastrais</h3>

  <div class="card__dados__table">
    <div>Benchmark:</div>
    <div class="data">110% CDI</div>
    <div>Cód. Drive:</div>
    <div class="data">4919</div>
    <div>Cód. GFI:</div>
    <div class="data">1136</div>
    <div>Conta Corrente:</div>
    <div class="data">607,004</div>
    <div>Conta BB SEC:</div>
    <div class="data">ATB 006068</div>
    <div>Conta SELIC:</div>
    <div class="data">(Não possui)</div>
    <div>Conta CETIP:</div>
    <div class="data">(Não possui)</div>
    <div>Conta Allfunds:</div>
    <div class="data">123456</div>
  </div>
</div>
