$base-color: #00578b;
$standard-color: #1bbaa2;
$alert-color: #e3c52f;
$warning-color: #c24b46;

.card__rent {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.2);
  padding: 1rem;
  height: 100%;

  &__title {
    display: flex;

    &--text {
      font-weight: 500;
      display: inline-block;
      margin: 0.5rem auto 0.5rem 0;
    }

    &--icon {
      color: #c5c5c5;
      margin-top: 0.5rem;
    }
  }

  &__table {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    justify-content: center;
    height: 70%;

    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);

    & .data {
      font-weight: 700;
      justify-content: center;
      color: $base-color;
    }
  }
}

.arrow-up {
  color: #ffffff;
  background-color: $base-color;
  border-radius: 50%;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.4rem;
}

.arrow-down {
  color: #ffffff;
  background-color: $warning-color;
  border-radius: 50%;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.positive {
  color: $base-color;
}

.negative {
  color: $warning-color;
}
