<div class="card__hedge">
  <h3 class="card__hedge__title">Hedge cambial (porcentagem)</h3>
  <div class="card__hedge__body">
    <div class="card__hedge__body--data">
      <form class="card__hedge__body--data--labels" [formGroup]="headgeGroup">
        <mat-label>
          <mat-icon class="mat-icon-color--meta">stop</mat-icon>
          Meta:
        </mat-label>
        <div class="need__input">
          <mat-form-field class="input">
            <input matInput type="number" [formControl]="metaControl">
            <span matSuffix>%</span>
          </mat-form-field>
        </div>
        <mat-label>
          <mat-icon class="mat-icon-color--atual">stop</mat-icon>
          Atual:
        </mat-label>
        <div class="need__input">
          <mat-form-field class="input">
            <input matInput type="number" [value]="atualValue" disabled>
            <span matSuffix>%</span>
          </mat-form-field>
        </div>
        <mat-label>
          <mat-icon class="mat-icon-color--limite">stop</mat-icon>
          Limite:
        </mat-label>
        <div class="need__input">
          <mat-form-field class="input">
            <input matInput type="number" [formControl]="limiteControl" min="1">
            <span matSuffix>%</span>
          </mat-form-field>
        </div>
      </form>
      <div class="card__hedge__body--data--graph">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType"
          (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      <hr>
    </div>

    <form class="card__hedge__body--send">
      <mat-label>Necessidade:</mat-label>
      <div class="need__input">
        <mat-form-field class="input">
          <input matInput type="number" value="-15">
        </mat-form-field>
      </div>
      <button mat-button class="btn__send">
        Enviar ordens
        <mat-icon color="primary" class="btn__send--icon">arrow_forward</mat-icon>
      </button>
    </form>

  </div>
</div>
