<div class="card__hedge">
  <h3 class="card__hedge__title">Hedge cambial (porcentagem)</h3>
  <div class="card__hedge--body">
    <div class="card__hedge--body--data">
      <div>
        <div>Meta: _</div>
        <div>Atual: _</div>
        <div>Limite: _</div>
      </div>
      <div>gráfico</div>
    </div>
    <div class="card__hedge--body--send">
      <div>Necessidade:</div>
      <div>__</div>
      <button mat-button class="btn__send">
        Enviar ordens
        <mat-icon color="primary" class="btn__send--icon">arrow_forward</mat-icon>
      </button>
    </div>
  </div>
</div>
