.page-title {
  display: flex;
  margin: 1.5rem;
  gap: .5rem;
  font-weight: 500;
  text-decoration: none;
}

.funds {
  margin: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
}
